* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  color: #ffffff;
  min-height: 200vh;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 55px;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 15px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500vh;
}

.box {
  height: 400px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  max-width: 645px;
}

.picture {
  display: block;
  height: 400px;
  border-radius: 15px 15px 0px 0px;
  margin-top: 75px;
  margin-bottom: -35px;
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

.section {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #283e50;
  padding: 0px 15px 15px 0px;
  flex-basis: 400px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 21px;
  text-align: center;
}

.pravidla {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-basis: 400px;
  background-color: #1fcca4;
  justify-content: center;
  font-size: 25px;
  padding: 25px;
  color: #ffffff;
  justify-items: center;
  text-decoration: none;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacithrat {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-basis: 400px;
  background-color: #0197f6;
  justify-content: center;
  font-size: 25px;
  padding: 25px;
  color: #ffffff;
  justify-items: center;
  text-decoration: none;
}

.zacithrat:hover {
  background-color: #0090e9;
}

.rules {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #283e50;
  padding: 0px 15px 15px 0px;

  flex-basis: 400px;
  height: 100vh;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.second_page {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #283e50;
  padding: 0px 15px 15px 0px;
  flex-basis: 400px;
  height: 400vh;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
  margin: auto;
}

.Nadpis {
  font-family: 'Lobster', cursive;
  font-size: 75px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 2px;
}

.vzory_hry {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

figure {
  margin: 5px 25px;
  width: 40%;
}

/*.vzor_hry1 {
  display: flex;
  direction: row;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; cursive;
  text-align:center;
  height: 150px;
  width: 150px;
  overflow: wrap;
  width: 50%;
  margin-left: 0px; 
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.vzor_hry2 {
  display: flex;
  direction: row;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; cursive;
  text-align:center;
  height: 150px;
  width: 150px;
  overflow: wrap;
  width: 50%;
  margin-left: 0; 
  margin-right: 0;
}

.vzor_hry3 {
  display: flex;
  direction: row;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; cursive; 
  text-align:center;
  height: 250px;
  width: 250px;
  margin-left: 0; 
  margin-right: 0;
}

.vzor_hry4 {
  display: flex;
  direction: row;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; cursive;
  text-align:center; 
  height: 250px;
  width: 250px;
  margin-left: 0; 
  margin-right: 0;
}

.vzor_hry5 {
  display: flex;
  direction: row;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; cursive; 
  text-align:center;
  height: 250px;
  width: 250px;
  margin-left: 0; 
  margin-right: 0;
}
.vzor_hry6 {
  display: flex;
  direction: row;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; cursive; 
  text-align:center; 
  height: 250px;
  width: 250px;
  margin-left: 0; 
  margin-right: 0;
} */

.kolecka {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.krizky {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.second_page {
  width: 100%;
}

@media (min-width: 576px) {
  .second_page {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .second_page {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .second_page {
    width: 50%;
  }
}
